<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NStitlebar_with_item.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8A6646B1E2B5F3200A84C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8A6647E1E2B5F3300A84C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8A664891E2B5F3300A84C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
